# The objective of this worksheet is to explore and apply Pyspark Data Frame operations to deal with missing values, filtering data, grouping data and joining data frames.

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('DataFrames-Worksheet-2').getOrCreate()

In [ ]:
s_df =spark.read.csv('StudentData-1.csv',header=True,inferSchema=True)

In [ ]:
s_df.show()

# Deleting all rows with null values

In [ ]:
s_df.na.drop().show()

In [ ]:
s_df.show()

In [ ]:
# What is your observation about the above output?

# Deleting rows with null value in any column

In [ ]:
s_df.na.drop(how = 'any').show()

# Deleting rows with null value in a given column

In [ ]:
s_df.na.drop(how="any",subset=['Marks']).show()

In [ ]:
# Do yourself: Check 'how = all'

In [ ]:
s_df.show()

## Deleting rows with a certain number of null values

In [ ]:
s_df.na.drop(how='any', thresh = 2).show()

In [ ]:
s_df.na.drop(how='any', thresh = 3).show()

In [ ]:
s_df.na.drop(thresh = 4).show()

## Replacing null values with a particular value

In [ ]:
s_df.na.fill(50,['Marks']).show()

In [ ]:
s_df.na.fill('Good', subset = ['Comments']).show()

## Replacing null value with mean of the column

In [ ]:
from pyspark.sql import functions as f

In [ ]:
mean_marks = s_df.select(mean('Marks')).collect()[0][0]

In [ ]:
s_df.na.fill(mean_marks,'Marks').show()

## Replacing null value with particular values in multiple columns

In [ ]:
s_df.na.fill({'Marks': mean_marks, 'Attendance':80, 'Comments': 'V. Good'}).show()

## Applying Filters: filter on a single column

In [ ]:
s_df.filter('Marks >= 80').show()

In [ ]:
# Do yourself: Display only students' name and marks with more than 80%

## Filtering using more than one columns: Display students with more than 80% marks and more than 90% attendance

In [ ]:
s_df.filter((s_df['Marks'] > 80) & (s_df['Attendance'] > 90)).show()

## Filtering using more than one columns: Display students with more than 80% marks and Excellent comments

In [ ]:
s_df.filter((s_df['Marks'] > 80) & (s_df['Comments'] == 'Excellent')).show()

## Filtering using more than one columns: Display students with more than 80% marks and no null value in comments

In [ ]:
s_df.filter((s_df['Marks'] > 80) & ~(s_df['Comments'] == 'null')).show()

## Applying GroupBy method: Group traffic data by region using 'sum' as aggregate function

In [ ]:
df_Traffic = spark.read.csv('Traffic_Data.csv', header=True, inferSchema=True)

In [ ]:
df_Traffic.show()

In [ ]:
df_Traffic.groupBy('Region').sum().show()

In [ ]:
# Aggregating based on a specific column
df_Traffic.groupBy('Region').sum('Count').show()

In [ ]:
df_Traffic.groupBy('Region').max().show()

In [ ]:
# Group by using multiple columns

df_Traffic.groupBy('Region', 'Year').sum('Count').show()

In [ ]:
df_Traffic.groupBy('Region').sum('Count').show()

In [ ]:
df_Traffic.groupBy('Region').mean('Count').show()

In [ ]:
# Do yourself: Group traffic data by region, year and traffic type using 'count', 'mean', 'min' and  'avg' as aggregate function

## Applying Aggregation: Finding average traffic count

In [ ]:
df_Traffic.agg({'Count':'mean'}).show()

## Applying Aggregation: Finding average of year and traffic count data

In [ ]:
df_Traffic.agg({'Year': 'mean', 'Count':'mean'}).show()

## Formatting the output. 

### - To round the mean values for both Year and Count columns in your PySpark DataFrame, you can use the round function from pyspark.sql.functions. Since the .agg() method with a dictionary does not directly allow applying additional functions like round, youâ€™ll need to use select with explicit rounding for each column.

In [ ]:
mean_df = df_Traffic.agg(f.mean("Year").alias("mean_Year"), f.mean("Count").alias("mean_Count"))

In [ ]:
result = mean_df.select(f.round("mean_Year", 2).alias("mean_Year"), f.round("mean_Count", 2).alias("mean_Count"))

In [ ]:
result.show()

# Applying Joins

## Creating two new Spark dataframes

In [ ]:
df_A =spark.read.csv('StudentData-3.csv',header=True,inferSchema=True)

In [ ]:
df_A.show()

In [ ]:
df_B =spark.read.csv('StudentData-4.csv',header=True,inferSchema=True)

In [ ]:
df_B.show()

In [ ]:
result2 = df_A.join(df_B, on="ID", how="inner")

In [ ]:
result.show()

In [ ]:
# Do yourself: apply right, inner and full join